<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Builders-App</title>
  <link rel="shortcut icon" href="img/home.png" type="image/x-icon">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C4D03AQF1OgWRC3QCMQ/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=-PRMD_osXtneNq29xdq6qQmpAVABOtvR-Rg2GbPdM1g" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Joy Bii</h1>
        <p class="title">Solutions Architect at Shimba Technologies</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Strathmore University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/joy-bii-a6611a143/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C5103AQG6RpHcAL8oUw/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=tOfQq4NAiTA1Xo2_aEv8KMmtbpIy038tdZ9abjDJDrs" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Sanket Patel </h1>
        <p class="title">Principal Architect and at Spline Design architects</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>M.Plan</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/architect-sanket-patel-80b43365/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C4E03AQFdkNlBel7K6A/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=wxysQNsHylfQRy-nf4B8n3WiDVYfQAMk4WNKZ9vLqvs" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Kelvin Bwamu</h1>
        <p class="title">Principal Architect at Architecture by cedar</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Jomo Kenyatta University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/architect-kelvin-bwamu-b82973b3/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
    </div>
    <div class="row">
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C5103AQEFG7GdV9d8CA/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=4D1PrKRCJeS-2lwqgs4k-veNXDL3W4IEu0eJmajcldA" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Edna Sarange</h1>
        <p class="title"> Architect, realtor at Self employed</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Jomo Kenyatta University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/edna-sarange-634658144/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C4E03AQEpnuDssrtKjg/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=c6V6hAjEbAvKOLvlt7Uv-KJEXQ8fJoCQ90e1a6lOkBc" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Violetta Madi</h1>
        <p class="title">Architect at Atkins (DON’T send me your CV please)</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>University of Jordan</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/violettamadi/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C5603AQGAOa_0Np-74Q/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=mxFDdpF3XgaLcKS7WL57p2gGhepi8_ImhDL2PHS7xi8" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Michael Kibetu</h1>
        <p class="title">Architect & Construction manager</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>University of Nairobi</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/michael-kibetu-5a1292108/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
    </div>
  </div>
</body>
<style media="screen">
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  button:hover,
  a:hover {
    opacity: 0.7;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
</style>

</html>
