<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Builder-corp</title>
  <link rel="shortcut icon" href="img/home.png" type="image/x-icon">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C4E03AQF-7_13umVG1Q/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=IdAQCF5y7b10Hz-bI6ks6UgJFyY7d4MuapjoBcEDHFA" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Wellington Owuoth</h1>
        <p class="title">Managing Director at Primestone Constructors limited</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Queen's University Belfast</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/wellington-owuoth-634148a0/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C5103AQF4YdueKBYdfw/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=6YbmYqA6xkrOS7tCCXrSdWZzA12H2n50nW4_W0YNSAA" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Kelly Chinery</h1>
        <p class="title">East Africa Area Manager at Pacific Rim Constructors</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>East Africa Area Manager <br> Pacific Rim Constructors <br> AfexGroup</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/kelly-chinery-28229b59/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C5603AQGM3bSUumHq0A/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=V80o9DrBt8haOYYDwGVNZPyoL_FtIV86V99AyV2tnTg" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Thomas (Victor) Odhiambo </h1>
        <p class="title">Site foreman at NAVICON</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Technica University of Mombasa</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/thomas-odhiambo-6b6173115/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
    </div>
    <div class="row">
      <div class="card col-md-3">
        <img src="https://i.pinimg.com/564x/31/b6/e5/31b6e5b55e936f810f3df2fe470bf859.jpg?b=t" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Derriq Jay</h1>
        <p class="title"> Architectural Design at Daneva constructors and Engineers</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Architectural Design <br> Daneva constructors and Engineers </p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/derriq-jay-110a0914b/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C5603AQFBfy6KrePN6g/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=qJUHI1sawG95SLfSah0FtJVNYDotXxc66NCD5jlVdpc" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Atlas Constructors</h1>
        <p class="title">Concrete contractor executing to deliver on time, on budget, and everyone home the same way they came!</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Owner <br>Atlas Constructors </p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/atlas-constructors-71a011158/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C5603AQGRrb3BHeuuug/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=yDKm8E78mG8hKW8r_MwCehn6edEmki0ICq8jFIzZUuE" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Constructors Services</h1>
        <p class="title">Constructors Services</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Consultant <br>Constructors Services </p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/constructors-services-1a15b8149/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
    </div>
  </div>
</body>
<style media="screen">
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  button:hover,
  a:hover {
    opacity: 0.7;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
</style>

</html>
