<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Builders-App</title>
  <link rel="shortcut icon" href="img/home.png" type="image/x-icon">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C4D03AQFZ1P7QXihYBw/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=0C6IxgCpfQXmx-RuLBdqdZzAb7WTzj_sEWo2CU2g8bQ" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Victor Kisaka</h1>
        <p class="title">Safety manager at Solian engineers and builders Ltd</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Jaramogi Odinga Odinga University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/victor-kisaka-6471a3118/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C4D03AQEiHRx1bfel1g/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=BTiuXUX7-9PxCAfTM2p0jMW5ZMxEGZMH8yYs4Le0ojo" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Kevin Matite </h1>
        <p class="title">Engineer & Founder at Website Kali Inc.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Moringa School</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/kevin-matite/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C5603AQELk3knMTq7gA/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=zIITD92g-p8nlVVQbfe_PEJ4INumjiwQu2kna-cShr8" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Justin Munene</h1>
        <p class="title">Assistant Electrical Engineer at Sanix Engineers</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Jomo Kenyatta University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/justin-munene-496805109/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
    </div>
    <div class="row">
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C4D03AQEeSC7wUwdxLA/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=Wvp1Y5PobGM9-j0OVQjEs5VQweuhuVu-WmQ99i4DDAk" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>thomas modi</h1>
        <p class="title"> Architect, realtor at Self employed</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Strathmore University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/thomas-modi-6b7177122/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C5603AQF2CGFbli-hjQ/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=tDYQD39G-Mo_WBzaUr-aD-DWXARBPBdGFnCsMe4ByyI" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Ben Herman</h1>
        <p class="title">We're hiring software engineers!</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>High school drop out</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/benherman/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
      <div class="card col-md-3">
        <img src="https://media.licdn.com/dms/image/C4D03AQHGpZi3hng1iw/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=LpPZwFR5afNdCiQeHUc6u_5zVVnC45-82ooRrmVri2E" alt="TONY KIPTOO" height="250px" width="250px">

        <h1>Engineers Board Kenya</h1>
        <p class="title">Established by the Engineers Act.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <br>
        <p>Kenya</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <a href="https://www.linkedin.com/in/engineers-board-kenya-413435180/" class="btn btn-custom" target="blank"><button type="button" name="button">View Profile</button></a>
      </div>
    </div>
  </div>
</body>
<style media="screen">
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  button:hover,
  a:hover {
    opacity: 0.7;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
</style>

</html>
